    $primary-color : slateblue;

    body{
        background-color: $primary-color;
        color: #fff;
        font-size : 18px;
    }

    @supports(grid-area: true) {    
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
    .container > *{
        width: 100%;
        float: left;
    }


