    $primary-color : slateblue;

    body{
        background-color: $primary-color;
        color: #fff;
        font-size : 18px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
